<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <div class="app">
        <label for="">小组名称：<input type="text" placeholder="请输入小组名" v-model="teamname"></label>
        <label for="">仓库地址：<input type="text" placeholder="请输入版本库地址" v-model="gitaddr"></label>
        <button v-on:click="submit">提交</button><button @click="getList">更新列表</button>
    </div>
    <script src="https://unpkg.com/vue@2.6.10/dist/vue.js"></script>
    <script>
        
        new Vue({
            el:'.app',
            data:{
                teamname:"",
                gitaddr:"",
            },
            methods:{
                submit(){
                    let query = new URLSearchParams();
                    if(this.teamname=='' || this.gitaddr==''){
                        alert('请输入有效的信息')
                        return
                    }
                    query.append('teamName',encodeURIComponent(this.teamname))
                    query.append('gitaddr',encodeURIComponent(this.gitaddr))
                    let qstr = query.toString()

                    let that = this;
                    fetch(`/createTeam?${qstr}`)
                    .then(res=>res.json())
                    .then(res=>{
                        console.log(res)
                    })
                },
                getList(){
                    fetch('/teamlist').then(res=>res.json()).then(res=>{
                        if(res.code==0){
                            alert(res.msg)
                        }else{
                            this.list = res.results.map(item=>{
                                item.create_time = new Date(item.create_time*1).toLocaleString()
                                return item
                            })
                        }
                        
                    })
                }
            }
        })
    
    </script>
</body>
</html>